#container { background:#7573D9; padding:20px; margin:0 auto; border:1px solid black;}
#header { background:#1D1AB2; color:white; padding:10px; margin:0 auto; border:1px solid black;}
#menu {background:#C9F76F; color:#679B00; padding:10px; margin: 0 auto; border:1px solid black;}
#main {background:white; padding:10px; margin:0 auto; border-left:1px solid black; border-right:1px solid black;}
#footer {background:#C9F76F; color:#679B00; margin:0 auto; border:1px solid #679B00;}