#container { background:#7573D9; padding:20px; margin:0 auto; border:1px solid black; width:1250px}
#header { font-family:'Century Gothic', Calibri, Verdana; background:#1D1AB2; color:white; padding:10px; margin:0 auto; border:1px solid black;}
#menu {background:#C9F76F; color:#679B00; padding:10px; margin: 0 auto; border:1px solid black;}
#content {background:white; padding:10px; margin:0 auto; border-left:1px solid black; border-right:1px solid black;}
#footer {background:#C9F76F; color:#679B00; margin:0 auto; border:1px solid #679B00; text-align:center;}
#datestamp {font-style:italic; font-variant:small-caps}

.nbalogo_img {float:right; margin:0; padding:0; border:0;}
.teamlogos_img {margin-left:300px;}

h2 {text-align:center; 
    color:#BF3730;
    font-family:Corbel,Georgia,Arial;}

h4 {color:#BF3730;
    font-family:Corbel,Georgia,Arial;
    margin-left:500px;
    margin-bottom:0px}

h5 {font-family:'Cordia New',Cambria,'Trebuchet MS';
    font-size:21px;
    margin-left:550px;
    margin-top:5px;
    margin-bottom:5px;}

p {text-align:center; 
   margin-left:50px; 
   margin-right:50px;
   font-family:'Cordia New',Cambria,'Trebuchet MS';
   font-size:21px;}

.level1 {color:#679B00;
         font-variant:small-caps;
         font-size:large;
         margin-right:16px;}

.cssgridview {margin-left:275px;
              margin-bottom:15px;
              border:solid 1px #A60800;
              border-collapse:collapse;
              text-align:center;
              font-family:'Century Gothic',Calibri,Verdana;
              color:#A60800;
              background-color:#FF8373;
}
.cssgridview td {padding:5px;
                 border:solid 1px #A60800;
                 color:black;}
.cssgridview td a {color:#044F64;}
.cssgridview td a:visited {color:#00760E; 
                           text-decoration:none}
.cssgridview th {padding:10px;}
.cssgridview th a {color: white;
                   text-decoration:none;
                   font-variant:small-caps;}
.cssgridview th a:hover {color:#044F64;
                         background-color:white;
                         text-decoration:underline;}
.cssgridview .alt {background:white repeat-x top;}

.cssgridview2 {margin-left:175px;
               margin-bottom:15px;
               margin-top:15px;
               border:solid 1px #A60800;
               border-collapse:collapse;
               text-align:center;
               font-family:'Century Gothic',Calibri,Verdana;
               color:black;
               background-color:white;}
.cssgridview2 td {padding: 5px;
                  border: solid 1px #A60800;}
.cssgridview2 th {padding: 10px;
                  background-color:#FF8373;}
.cssgridview2 th a {color:white;
                    text-decoration:none;
                    font-variant:small-caps;}
.cssgridview2 th a:hover {color:#044F64;
                          background-color:white;
                          text-decoration:underline;}
.cssgridview2 .alt {background:#FF8373 repeat-x top;}

.cssdetailsview {font-family:'Century Gothic',Calibri,Verdana;
                 background-color:#C9F76F;
                 margin-left:440px;
                 border: solid 1px black;
                 text-align:center;
                 border-collapse:collapse;}
.cssdetailsview td {padding:5px;
                    border:solid 1px black;
                    text-align:left;}
.cssdetailsview .header td {text-align:center;
                            padding:4px 2px;
                            color:#679B00;
                            font-weight:bold;
                            background:white repeat-x top;}
.cssdetailsview .fieldheader {text-align:right;
                              font-weight:bold;}
